<div class="teaser js-section-animation">
  <div class="teaser__image-container">
    <div class="teaser__image">
      <a href="{{ url }}"><img src={% if provider.img %}"{{provider.img.src}}" alt="{{ provider.img.alt}}"{% else %}"../../images/people/provider-placeholder.png"  alt="{{ provider.details.name }}"{% endif %}></a>
    </div>
  </div>
  <h2 class="teaser__name"><a href="{{ url }}">{{ provider.details.name }}</a></h2>

  {% if provider.details.rating or provider.details.type|render != 'Doctor' %}
  <div class="teaser__top">
    
    {% if provider.details.type|render != 'Doctor' %}
      <span class="teaser__top__type">{{ provider.details.type }}</span>
    {% endif %}
    
    {% if provider.details.rating %}
    {% include "@molecules/ratings-count/ratings-count.twig" with {
      "rating": provider.details.rating,
      "rating_icon": provider.details.rating_icon
    } %}
    {% endif %}
    
  </div>
  {% endif %}

  <div class="teaser__content">
    <div class="teaser__content__info">
      <div class="teaser__section">
        {% if provider.details.specialties[0] %}
          <h3 class="teaser-label">Specialties</h3>
          {% include "@atoms/fields/_multi-field-with-comma.twig" with {
            "items": provider.details.specialties,
          } %}
        {% endif %}
      </div>
      <div class="teaser__section">
        {% if provider.details.focus[0] %}
          <h3 class="teaser-label">Clinical Areas of Focus</h3>
          {% include "@atoms/fields/_multi-field-with-comma.twig" with {
            "items": provider.details.focus,
          } %}
        {% endif %}
      </div>
      <div class="teaser__section teaser__section--small">
        {% if provider.details.location %}
          <h3 class="teaser-label">Location</h3>
          {{ provider.details.location }}
        {% endif %}
      </div>
      <div class="teaser__section teaser__section--small">
        {% if provider.details.language[0] %}
          <h3 class="teaser-label">Languages</h3>
          {% include "@atoms/fields/_multi-field-with-comma.twig" with {
            "items": provider.details.language,
          } %}
        {% endif %}
      </div>
    </div>
    {% if provider.link %}
    <div class="teaser__button">
      {% include "@atoms/icon-button/icon-button.twig" with {
        "url": provider.link.href,
        "button_icon": provider.link.icon,
        "text": provider.link.text,
        "variation": "small",
      } %}
    </div>
   {% endif %}
  </div>

</div>
