<div class="teaser js-section-animation">
  <div class="provider-teaser__image">
    {% if provider.img %}
      {% include "@molecules/image-background/image-background.twig" with {
        "img.src": provider.img.src,
        "img.alt": provider.img.alt,
        "classes": provider.classes,
      } %}
    {% endif %}
  </div>
  <span class="callout provider">{{ provider.details.name }}</span>
  <div class="teaser__content">
    <div>
      <span class="teaser-label">Specialties</span>
      {{ provider.details.specialties }}
      <span class="teaser-label">Clinical Areas of Focus</span>
      {{ provider.details.focus }}
    </div>
    <div>
      <span class="teaser-label">Location</span>
      {{ provider.details.location }}
      <span class="teaser-label">Languages</span>
      {{ provider.details.language }}
    </div>
    <div class="teaser__button">
      {% include "@atoms/icon-button/icon-button.twig" with {
        "url": provider.link.url,
        "icon": provider.link.icon,
        "text": provider.link.text,
      } %}
    </div>
  </div>
</div>
