<div class="card card--sidebar js-section-animation">
  <h2 class="card__title"><a href="{{ cta.url }}">{{ title }}</a></h2>
  <div class="card__desc">
    {{ desc }}
  </div>
  <a class="card__cta" href="{{ cta.url }}">{{ cta.label }}</a>
</div>
