<div class="card card--sidebar js-section-animation">
  <a class="card__link" href="{{ cta.url }}">
    {% if image %}
      <div class="card__image">
        {% block image %}
          <img src="{{ image.src }}" alt="{{ image.alt }}" />
        {% endblock %}
      </div>
    {% endif %}

    <div class="card__content">
      <h2 class="card__title">{{ title }}</h2>
      <div class="card__desc">
        {{ desc }}
      </div>
      <span class="card__cta">{{ cta.label }}</span>
    </div>
  </a>
</div>
