<div class="teaser--simple article js-section-animation">

  <h2 class="teaser__name--simple"><a href="{{ url }}">{{ article.details.title }}</a></h2>

  <div class="teaser__content--simple">
    <span class="article-date">{{ article.details.date }}</span>
    <div class="teaser__content__desc">{{ article.details.text }}</div>
    {% if article.details.tags %}
    {% for item in article.details.tags %}
      <span class="teaser-tag">{{ item }}</span>
    {% endfor %}
    {% endif %}
  </div>
</div>
