<div class="image-callout">
  <div class="image-callout__image">
    <img src="{{ img.src }}" alt="{{ img.alt }}"/>
  </div>
  <div class="image-callout__text">
    <div class="button-wrapper">
      <h3>{{ title }}</h3>
      <p>{{ text }}</p>
      <a class="button button-primary" href="{{ link.url }}">{{ link.text }}</a>
    </div>
  </div>
</div>
