<div class="form-section">
  {% if section_heading %}
    {% include "@atoms/02-text/00-headings/_heading.twig"  with {
      heading_level: section_heading_level,
      heading: section_heading,
      heading_url: section_heading_url,
      heading_base_class: 'form-section__title'
    }%}
  {% endif %}
  {% for item in section_items %}
    <div class="form-section__item {% if item.width %}form-section__item--{{ item.width }}{% endif %}">
      {% include "@atoms/05-forms/_form-label.twig"  with {
        title: item.title
      }%}
      {% if item.info %}
        {% include "@molecules/toggle-tip/toggle-tip.twig"  with {
          info: item.info,
          info_id: item.info_id
        }%}
      {% endif %}
      {% if item.type == 'radio' %}
        <ul class="form-item--radios {% if item.orientation == 'inline' %}form-item--inline {% endif %}">
        {% for key, item in item.children %}
          {% include "@atoms/05-forms/radio/_radio-item.twig" with {
            "radio_item": item.title,
            "radio_id": item.id
          } %}
        {% endfor %}
        </ul>
      {% elseif item.type == 'checkbox' %}
        <ul class="form-item--checkboxes {% if item.orientation == 'inline' %}form-item--inline {% endif %}">
            {% for key, item in item.children %}
              {% include "@atoms/05-forms/checkbox/_checkbox-item.twig" with {
                "checkbox_item": item.title,
                "checkbox_id": item.id,
              } %}
            {% endfor %}
        </ul>
      {% elseif item.type == 'select' %}
        <div class="form-item__dropdown">
          <select class="form-item__select">
            <optgroup label="{{ item.name }}">
              {% for item in item.children %}
                {% include "@atoms/05-forms/select/_select-item.twig" with {
                  "select_item": item.title
                } %}
              {% endfor %}
            </optgroup>
          </select>
        </div>
      {% elseif item.type == 'textfield' %}
        <textarea name="{{ item.name}}"></textarea>
      {% else %}
        <input type="{{item.type}}" name="{{ item.name}}" {% if item.placeholder %} placeholder="{{item.placeholder}}" {% endif %}/>
      {% endif %}
      
      {% if item.link == true %}
        {% include "@atoms/01-links/link/link.twig" with {
           "link_url": item.link.url,
           "link_content": item.link.label,
           "link_modifiers": ['small']
         } %}
      {% endif %}
      
      {% if item.optional == true %}
      <span class="form-section__optional">Optional</span>
      {% endif %}
    </div>
  {% endfor %}
</div>
