<li class="form-item--radio__item">
  <label for="radio{{ key }}-{{ radio_id }}">
    <input id="radio{{ key }}-{{ radio_id }}" name="radio" type="radio" class="radio" {% if checked %}checked="checked"{% endif %} /> {{ radio_item }}
  </label>
</li>
