<div class="location-teaser">
  <div class="location-teaser__image">
    {% if image %}
      <img src="{{ img.src }}" alt="{{ img.alt }}" />
    {% endif %}
  </div>
  <div class="location-teaser__content">
    <div class="location-teaser__content__heading">
      {{ location.name }}
    </div>
    {{ location.address1 }}
    {{ location.address2 }}
    <div class="location-teaser__content__directions">
      Directions
    </div>
  </div>
</div>
