<div class="provider-hero grid">
  <div class="provider-hero__content">
    <div class="provider-hero__first">
      
      <div class="provider-hero__image-container">
        <div class="provider-hero__image">
        <img src="{% if img %}{{img.src}}{% else %}../../images/people/provider-placeholder.png{% endif %}" alt="{{ img.alt}}">
        </div>
      </div>
      
      {% if provider_video %}
      {% include "@molecules/modal/modal.twig" with {
        "modal.type": "video",
        "model.label": "Provider Video",
        "modal.reference": provider_video
      } %}
      {% endif %}
      
    </div>
    
    <div class="provider-hero__card">
      <div class="provider-hero__card-info">
        <h1 class="provider-hero__name">{{ name }}</h1>
        {% if lead_title %}
        <span class="provider-hero__title">{{ lead_title }}</span>
        {% endif %}
        
        {% if rating %}
        <div class="provider-hero__ratings">
          {% include "@molecules/ratings-count/ratings-count.twig" %}
          <a href="#ratings">{{ review_amt }} Reviews</a>
          {% endif %}
        </div>
      </div>
      
      {% if accepting_patients == 'true' %}
      <div class="provider-hero__cta">
        <h2 class="provider-hero__cta__label">Request an Appointment</h2>
        {% include "@atoms/icon-button/icon-button.twig" with {
          text: "Make an Appointment Online",
          url: appt_url,
          icon: "th-cal.svg"
        } %}
        <span class="provider-hero__cta__text">
        or call <a class="provider-hero__cta__link" href="tel+1{{appt_phone.number}}">{{ appt_phone.label }}</a>
        </span>
      </div>
      {% endif %}
      
    </div>
    

  </div>
</div>
