<div class="teaser--small location js-section-animation">
  <h3 class="teaser__name"><a href="{{ url }}">{{ name }}</a></h3>

  <div class="teaser--small__content">
    <div class="teaser--small__content__info">
      <div class="teaser__section">
        <span class="teaser-label">{{ "Address"|t }}</span>
        {% for item in address_rows %}
          <span class="teaser__row">{{ item }}</span>
        {% endfor %}
        {% include "@atoms/icon-button/icon-button.twig" with {
          "url": direction_url,
          "button_icon": button_icon,
          "text": "Map & Directions"|t,
          "variation": "small",
          "target": "_blank"
        } %}
      </div>
      <div class="teaser__section">
        {% if phone %}
          <span class="teaser-label">{{ "Phone"|t }}</span>
          <a href="tel:+1{{ phone }}">{{ phone }}</a>
        {% endif %}
        {% if fax %}
          <span class="teaser-label">{{ "Fax"|t }}</span>
          {{ fax }}
        {% endif %}
      </div>
    </div>
    <div class="teaser__link--small">
      <a class="teaser__link" href="{{cta.url}}" target="_blank">{{ cta.label }} {% include "@base/icons/arrow.svg" %} </a>
    </div>
  </div>
</div>
