<article class="patient-story-card">
  <a class="patient-story-card__link" href="{{ link.url }}">
    <div class="patient-story-card__image-container">
      <img class="patient-story-card__image" src="{{ image.src }}" alt="{{ image.alt }}"/>
    </div>
  
    <div class="patient-story-card__content">
      <h2 class="patient-story-card__title">{{ title }}</h2>
      <span class="patient-story-card__cta" href="{{ link.url }}">{{ link.label }}</span>
    </div>
  </a>
</article>
