<li class='resource-list-item'>
  <h3 class='resource-list-item__title'><a href="{{ url }}" {% if target %}target='{{ target }}'{% endif %}>{{ title }}</a>{% if filetype %}<span>[{{ filetype }}]</span>{% endif %}</h3>
  {% if desc %}
  <div class='resource-list-item__desc'>
    {{ desc }}
  </div>
  {% endif %}
</li>
