<div class="image-teaser js-section-animation">
  <div class="image-teaser__image">
    <img src="{{ img.src }}" alt="{{ img.alt }}"/>
  </div>
  <div class="image-teaser__text">
    <div class="button-wrapper">
      <h3>{{ title }}</h3>
      <p>{{ text }}</p>
      {% if links|length == 1 %}
        <a class="button button-primary" href="{{ links|first.url }}">{{ links|first.text }}</a>
      {% else %}
        {% for link in links %}
          <a class="image-teaser__link" href="{{ link.url }}">{{ link.text }}</a>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
