<div class="provider-teaser">
  <div class="provider-teaser__image">
    {% if provider.img %}
      <img src="{{ provider.img.src }}" alt="{{ provider.img.alt }}" />
    {% endif %}
  </div>
  <div class="provider-teaser__content">
    {{ provider.details.name }}
    <div>
      {{ provider.details.specialies }}
      {{ provider.details.focus }}
    </div>
    <div>
      {{ provider.details.location }}
      {{ provider.details.language }}
    </div>
  </div>
  <div class="provider-teaser__extras">
    {% include "@molecules/appointment-button/appointment-button.twig" with {
        "button": button,
      } %}
  </div>
</div>
