<div class="location-teaser">
  <div class="location-teaser__image">
    {% if location.img %}
      <img src="{{ location.img.src }}" alt="{{ location.img.alt }}" />
    {% endif %}
  </div>
  <div class="location-teaser__content">
    <div class="location-teaser__content__heading">
      {{ location.details.name }}
    </div>
    {{ location.details.address1 }}
    {{ location.details.address2 }}
    <div class="location-teaser__content__directions">
      Directions
    </div>
  </div>
</div>
