<footer class="footer">
  <div class="footer-top">
    <div class="footer__links">
      {% block menu %}
        {% include "@molecules/menus/footer-menu/footer-menu.twig" with {
          items: footer_items
        } %}
      {% endblock %}
    </div>
    <div class="footer__info">
      {% block logo %}
        {% include "@atoms/04-images/00-image/figure.twig" with {
          img_src: "../../images/TowerHealth_V.svg",
          img_alt: "Tower Health Logo",
          img_url: logo_link_url|default('/'),
        } %}
      {% endblock %}
      <div>
        <div class="footer__info__social">
          {% block social %}
            {% for icon in footer_social %}
              {% include "@atoms/social-icon/social-icon.twig" with {
                title: icon.title,
                url: icon.url,
                svg: icon.svg
              } %}
            {% endfor %}
          {% endblock %}
        </div>
        <div class="footer__info__contact">
          {% block contact %}
            <span>{{ footer_contact.address_1 }}</span>
            <span>{{ footer_contact.address_2 }}</span>
            <a href="tel:{{footer_contact.phone}}">{{ footer_contact.phone }}</a>
          {% endblock %}
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-background">
    <div class="footer-bottom">
      <div class="footer__details">
        {% block details %}
          {% for detail in footer_details %}
            <a href="{{ detail.href }}">{{ detail.title }}</a>
          {% endfor %}
        {% endblock %}
      </div>
      <div class="footer__legal">
        {% block legal %}
          {{ footer_legal }}
        {% endblock %}
      </div>
    </div>
  </div>
</footer>
