<footer class="footer">
  <div class="footer-top">
    <div class="footer__links">
      {% include "@molecules/menus/footer-menu/footer-menu.twig" with {
        items: footer_items
      } %}
    </div>
    <div class="footer__info">
      {% include "@atoms/04-images/00-image/figure.twig" with {
        img_src: "../../images/TowerHealth_V.svg",
        img_alt: "Tower Health Logo",
        img_url: logo_link_url|default('/'),
      } %}
      <div>
        <div class="footer__info__social">
          {% for icon in footer_social %}
            {% include "@atoms/social-icon/social-icon.twig" with {
              title: icon.title,
              url: icon.url,
              svg: icon.svg
            } %}
          {% endfor %}
        </div>
        <div class="footer__info__contact">
          {{ footer_contact.address }}
          <a href="tel:{{footer_contact.phone}}">{{ footer_contact.phone }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-background">
    <div class="footer-bottom">
      <div class="footer__details">
        {% for detail in footer_details %}
          <a href="{{ detail.href }}">{{ detail.title }}</a>
        {% endfor %}
      </div>
      <div class="footer__legal">
        {{ footer_legal }}
      </div>
    </div>
  </div>
</footer>
