<div class="sidebar-card">
  <h2 class="sidebar-card__title"><a href="{{ cta.url }}">{{ title }}</a></h2>
  <div class="sidebar-card__desc">
    {{ desc }}
  </div>
  <a class="sidebar-card__cta" href="{{ cta.url }}">{{ cta.label }}</a>
</div>
