<div class="card card--video js-section-animation">
  <a class="card__link modal--video" href="{{ videoURL }}">
    <div class="card__image card--video__image">
      <img src="{{ thumbnail.src }}" alt="{{ thumbnail.alt }}" />
    </div>
    
    <div class='card__content'>
      <h2 class="card__title">{{ title }}</h2>
      {% if doctor %}
      <span class="card__meta">{{ doctor }}</span>
      {% endif %}
      <div class="card__desc">
        {{ desc }}
      </div>
      <span class="card__cta">Watch the Video</span>
    </div>
  </a>
</div>
