<section class="cta-banner js-section-animation">
  <div class="cta-banner__image">
    {% include "@molecules/image-background/image-background.twig" with {
      "img.src": img.src,
      "img.src": img.alt,
      "classes": classes,
    } %}
  </div>
  <div class="cta-banner__content">
  
    <h1 class="cta-banner__title">
      {% if title_1 %}
      <span>{{ title_1 }}</span>
      {% endif %}
      <span>{{ title_2 }}</span>
    </h1>
    {% if subtitle %}
    <span class="cta-banner__subtitle">
      {{ subtitle }}
    </span>
    {% endif %} 
    <a class="button button--alt" href="{{ button.url }}">{{ button.label }}</a>
  </div>
</section>
