<footer class="footer">
  <div class="footer-top">
    <div class="footer__info">
      <img src="{{ logo.src }}" alt="{{ logo.alt }}" />
      <div class="footer__info__social">
        <a href="{{ social_facebook }}">
          {% include "social-facebook.svg" %}
        </a>
        <a href="{{ social_facebook }}">
          {% include "social-twitter.svg" %}
        </a>
        <a href="{{ social_gplus }}">
          {% include "social-gplus.svg" %}
        </a>
        <a href="{{ social_linkedin }}">
          {% include "social-linkedin.svg" %}
        </a>
        <a href="{{ social_youtube }}">
          {% include "social-youtube.svg" %}
        </a>
        <a href="{{ social_instagram }}">
          {% include "social-instagram.svg" %}
        </a>
        <a href="{{ social_pinterest }}">
          {% include "social-pinterest.svg" %}
        </a>
      </div>
      <div class="footer__info__contact">
        {{ contact.address }}
        <a href="tel:{{contact.phone}}">{{ contact.phone }}</a>
      </div>
    </div>
    <div class="footer__links">
      {% for section in sections %}
        <div class="footer__links__section">
          <span class="footer__links__section__title">
            {{ section.title }}
          </span>
          {% for link in section.links %}
            <a href="{{ link.href }}">{{ link.title }}</a>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer__details">
      {% for detail in details %}
        <a href="{{ detail.href }}">{{ detail.title }}</a>
      {% endfor %}
    </div>
    <div class="footer__legal">
      {{ legal }}
    </div>
  </div>
</footer>
