<div class="box-links js-section-animation">
  {% for box in boxes %}
    <a class="box-link" href="{{ link.url }}">
      <div style='background-image: linear-gradient(to top, #003056EE, #00305600), url("{{ box.img.src }}");'>
        <h3><span>{{ box.title }}</span></h3>
        <div class="box-link--hover">
          <h3><span>{{ box.title }}</span></h3>
          <p>{{ box.text }}</p>
          <span class="box-link__text">{{ box.link.text }}</span>
        </div>
      </div>
    </a>
  {% endfor %}
</div>
