<div class="grid">
<article class="file-download">
  <a class="file-download__image" href="{{url}}"><img src="{{ image.src }}" alt="{{ image.alt }}" /></a>
  
  <div class="file-download__content">
    <h2 class='file-download__title'><a href="{{url}}">{{ title }}</a></h2>
    
    <div class='file-download__desc'>
      {{ desc }}
    </div>
    
    <a class='file-download__cta' href="{{url}}">{{ downloadLabel }}</a>
  </div>
</article>
</div>
