<div class="grid">
  <article class="file-download">
    {% if image %}
      <a class="file-download__image" href="{{ file.url }}">
        <img src="{{ image.src }}" alt="{{ image.alt }}" />
      </a>
    {% endif %}
    <div class="file-download__content">
      <h2 class='file-download__title'>
        <a href="{{ file.url }}">{{ title }}</a>
      </h2>
      <div class='file-download__desc'>{{ desc }}</div>
      <a class='file-download__cta' href="{{ file.url }}" target="_blank">{{ file.label }}</a>
      {% if file_2 %}
        <span class="divider">&#8226;</span>
        <a class='file-download__cta' href="{{ file_2.url }}" target="_blank">{{ file_2.label }}</a>
      {% endif %}
    </div>
  </article>
</div>
